<!DOCTYPE html>
<html>
  <head>
    <title><%= productName %></title>

    <meta charset="utf-8">
    <meta name="description" content="<%= productDescription %>">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">

    <link rel="icon" type="image/png" sizes="128x128" href="icons/favicon-128x128.png">
    <link rel="icon" type="image/png" sizes="96x96" href="icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png">
    <link rel="icon" type="image/ico" href="favicon.ico">

    <!-- Custom -->

		<meta name="keywords" content="Crypto Converter, btc converter, eth converter, bitcoin, ethereum, solana, binance, crypto prices, cryptocurrency units, crypto exchange rates">
    <meta name="author" content="Crypto Converter">
    <meta property="og:title" content="Crypto Converter - BTC and ETH Conversion">
    <meta property="og:description" content="Convert BTC and ETH units and check current prices with Crypto Converter. Privacy-focused and user-friendly.">
    <meta property="og:image" content="https://www.crypto-converter.xyz/icons/favicon-128x128.png">
    <meta property="og:url" content="https://www.crypto-converter.xyz">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Crypto Converter - BTC and ETH Conversion">
    <meta name="twitter:description" content="Convert BTC and ETH units and check current prices with Crypto Converter. Privacy-focused and user-friendly.">
    <meta name="twitter:image" content="https://www.crypto-converter.xyz/icons/favicon-128x128.png">
    <meta name="twitter:site" content="https://www.crypto-converter.xyz">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-E68SE07XS7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-E68SE07XS7');
    </script>
  </head>
  <body>
    <!-- quasar:entry-point -->
  </body>
</html>
